#main-container-index {
  font-family: Helvetica, sans-serif;
  background: #aed9e0;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  padding-top: 40px;
}

#moods-form {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.sep {
  height: 1px;
  background: #fff;
  margin-top: 60px;
}

.button-select {
  background: #284448;
  color: #53838b;
  border-radius: 0.5rem;
  padding: 1em;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  border: none;
  transition: 0.3s;
}

.button-select:hover {
  background: #17282a;
  color: #53838b;
}

.button-breathe {
  background: #ffa69e;
  color: #faf3dd;
  border-radius: 0.5rem;
  border: none;
  padding: 1em;
  cursor: pointer;
  text-align: center;
  margin-top: 60px;
  transition: 0.3s;
}

.button-breathe:hover {
  background: #ff8074;
  color: #faf3dd;
}

.dropdown {
  min-width: 15em;
  position: relative;
  /* margin: 2em; */
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #b8f2e6;
  color: #53838b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

/* .select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
} */

.select:hover {
  background: #284448;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #53838b;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #284448;
  color: #53838b;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;

  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #17282a;
}

.active {
  background: #17282a;
}

.menu-open {
  display: block;
  opacity: 1;
}
